-- Pull in the wezterm API
local wezterm = require("wezterm")

-- This table will hold the configuration.
local config = {}

-- In newer versions of wezterm, use the config_builder which will
-- help provide clearer error messages
if wezterm.config_builder then
  config = wezterm.config_builder()
end

-- This is where you actually apply your config choices
config.automatically_reload_config = true
config.color_scheme = 'Solarized Dark - Patched'
config.command_palette_bg_color = '#073642'
config.command_palette_fg_color = '#93a1a1'
config.default_cursor_style = 'BlinkingBar'
config.font = wezterm.font 'Berkeley Mono'
config.font_size = 15
config.initial_rows = 25
config.initial_cols = 160
config.max_fps = 120
config.status_update_interval = 100
config.tab_max_width = 60
config.use_fancy_tab_bar = false
config.window_close_confirmation = 'NeverPrompt'
config.window_decorations = "RESIZE"


config.window_padding = {
  left = '1cell',
  right = '1cell',
  top = '.25cell',
  bottom = '.25cell',
}

-- Retro Tab Bar
config.colors = {
  tab_bar = {
    background = '#001E27',

    active_tab = {
      bg_color = '#2aa198',
      fg_color = '#eee8d5',
    },

    inactive_tab = {
      bg_color = '#002b36',
      fg_color = '#586e75',
      intensity = 'Half',
    },

    inactive_tab_hover = {
      bg_color = '#859900',
      fg_color = '#002b36',
      italic = true,
    },

    new_tab = {
      bg_color = '#002b36',
      fg_color = '#eee8d5',
    },

    new_tab_hover = {
      bg_color = '#859900',
      fg_color = '#002b36',
    },
  },
}

-- and finally, return the configuration to wezterm
return config
